
a.navbar-brand[b-17kj3ex0h6] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-17kj3ex0h6] {
  color: #0077cc;
}

.btn-primary[b-17kj3ex0h6] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-17kj3ex0h6], .nav-pills .show > .nav-link[b-17kj3ex0h6] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-17kj3ex0h6] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-17kj3ex0h6] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-17kj3ex0h6] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-17kj3ex0h6] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-17kj3ex0h6] {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
}

.footer a[b-17kj3ex0h6] {
    text-decoration: none;
    color: #f8d210;
    transition: all 0.3s;
}

.footer a:hover[b-17kj3ex0h6] {
    text-decoration: underline;
    color: #f5c400;
}